.CanvasContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 60px); // Высота экрана минус высота тулбара
  background-color: #5a5a5a;
}

.MainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.RightPanel {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #2a2a2a;
  border-left: 1px solid #444;
}

.CanvasWrapper {
  position: relative;
  flex-grow: 1;
  overflow: auto;

  // Стилизация полос прокрутки
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #4a4a4a;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;

    &:hover {
      background: #aaa;
    }
  }

  &::-webkit-scrollbar-corner {
    background: #4a4a4a;
  }
}

.Canvas {
  display: block;
}
